<% provide :title, t(".show") %>
<%= render partial: "search"%>

<div class="sales-boxes">
  <div class="admin-manager box">
    <div class="title">
      <h1><%= t ".show" %></h1>
    </div>
    <%= link_to new_admin_show_time_path, class: "new-genre" do %>
      <span class="fa fa-plus-circle circle"></span>
      <%= t ".create" %>
    <% end %>
    <div class="admin-data">
      <table class="table table-categories table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col"><%= sort_link @search, :id, t(".id") %></th>
            <th scope="col"><%= sort_link @search, :movie_title, t(".movie") %></th>
            <th scope="col"><%= sort_link @search, :room_cinema_name, t(".cinema") %></th>
            <th scope="col"><%= sort_link @search, :room_name, t(".room") %></th>
            <th scope="col"><%= sort_link @search, :start_time, t(".start_time") %></th>
            <th scope="col"><%= sort_link @search, :end_time, t(".end_time") %></th>
            <th scope="col"><%= sort_link @search, :price, t(".price") %></th>
            <th scope="col"><%= t ".action" %></th>
          </tr>
        </thead>
        <tbody>
          <%= render partial: "show", collection: @shows %>
        </tbody>
      </table>
      <div id="pagy">
        <%== render partial: "shared/pagy", locals: { pagy: @pagy } %>
      </div>
    </div>
  </div>
</div>
