<!-- Hero Section Begin -->
<section class="hero">
  <div class="container">
    <div class="hero__slider owl-carousel">
      <div class="hero__items set-bg" data-setbg=<%= image_url "slide_show.jpg" %>>
        <div class="row">
          <div class="col-lg-6">
            <div class="hero__text">
              <div class="label">Adventure</div>
              <h2>Fate / Stay Night: Unlimited Blade Works</h2>
              <p>After 30 days of travel across the world...</p>
              <a href="#" class="watch-btn"><span>Watch Now</span> <i class="fa-solid fa-chevron-right" style="color: #ffffff;"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="hero__items set-bg" data-setbg=<%= image_url "slide_show.jpg" %>>
        <div class="row">
          <div class="col-lg-6">
            <div class="hero__text">
              <div class="label">Adventure</div>
              <h2>Fate / Stay Night: Unlimited Blade Works</h2>
              <p>After 30 days of travel across the world...</p>
              <a href="#" class="watch-btn" ><span>Watch Now</span> <i class="fa-solid fa-chevron-right" style="color: #ffffff;"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="hero__items set-bg" data-setbg=<%= image_url "slide_show.jpg" %>>
        <div class="row">
          <div class="col-lg-6">
            <div class="hero__text">
              <div class="label">Adventure</div>
              <h2>Fate / Stay Night: Unlimited Blade Works</h2>
              <p>After 30 days of travel across the world...</p>
              <a href="#" class="watch-btn"><span>Watch Now</span> <i class="fa-solid fa-chevron-right" style="color: #ffffff;"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Hero Section End -->
<!-- Product Section Begin -->
<section class="product spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <%= render partial: "static_pages/category_index", collection: @categories, as: :category %>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-8">
        <div class="product__sidebar">
          <div class="product__sidebar__view">
            <div class="section-title">
              <h5><%= t ".hot_movie" %></h5>
            </div>
            <ul class="filter__controls">
            </ul>
            <div class="filter__gallery">
              <%= render partial: "movies/hot_movie", collection: @hot_movies, as: :movie %>
            </div>
          </div>
          <div class="product__sidebar__comment">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
