<div class="main_content">
<section class="anime-details spad padding-top-30">
  <div class="container">
<div class="section-title">
  <h5><%= t ".h5" %></h5>
</div>
<div class="table-responsive">
  <table class="table table-striped b-t b-light">
    <thead>
      <tr>
        <th><%= sort_link(@search_order, :id, t(".payment_id"), class: "th_orderhistory") %></th>
        <th><%= t ".numbers" %></th>
        <th><%= sort_link(@search_order, :activated_at, t(".completed"), class: "th_orderhistory") %></th>
        <th><%= sort_link(@search_order, :total_cost, t(".total"), class: "th_orderhistory") %></th>
        <th><%= t ".details" %></th>
      </tr>
    </thead>
    <tbody id="payments_history">
      <%= render @payments %>
    </tbody>
  </table>
  <% if @payments.present? %>
    <div id="pagy">
      <%== render partial: "shared/pagy", locals: { pagy: @pagy } %>
    </div>
  <% end %>
</div>
</div>
</section>
</div>
