<div class="col-lg-4 col-md-6 col-sm-6">
  <div class="product__item">
    <% if movie.image %>
      <div class="product__item__pic set-bg"  data-setbg=<%= url_for movie.image_url %>>
    <% else %>
      <div class="product__item__pic set-bg" data-setbg=<%= movie.img_link %>>
    <% end %>
      <div class="ep"><%= movie.age_range %>+ </div>
      <div class="comment" data-bs-toggle="tooltip" data-bs-placement="top" title="Số lượng đánh giá"><i class="fa fa-comments"></i> <%= movie.rates.size %></div>
      <div class="view" data-bs-toggle="tooltip" data-bs-placement="top" title="Số lượng suất chiếu"><i class="fa fa-eye"></i> <%= movie.show_times.size %></div>
    </div>
    <div class="product__item__text">
      <ul>
        <% movie.categories&.pluck(:name).each do |categories_name|%>
        <li><%= categories_name %></li>
        <% end %>
      </ul>
      <h5><%= link_to movie.title, movie_path(id: movie.id) %></h5>
    </div>
  </div>
</div>
