<% provide :title, t(".sign_up") %>
<% provide :button_text, t(".submit") %>
<% provide :class_name, "login-submit" %>
<%= render partial: "shared/background_title", locals:{content: t(".sign_up"), description: t(".p") } %>
<section class="signup spad padding-top-20">
  <div class="container">
    <div class="row justify-content-center">
        <div class="login__form edit_form">
          <h3 class="tex_align_center"><%= t ".sign_up" %></h3>
            <%= render "users/user_form" %>
          <h5><%= t ".have_account" %> <%= link_to t(".log_in"), login_path %></h5>
        </div>
    </div>
  </div>
</section>
