<tr>
  <th scope="row"><%= movie.id %></th>
  <td><%= movie.title %></td>
  <td><%= l(movie.release_time, formats: :default)%></td>
  <td><%= movie.categories&.pluck(:name).join(", ") %></td>
  <td><%= movie.duration_min %></td>
  <td><%= movie.language %></td>
  <td><%= movie.age_range %></td>
  <td><%= movie.tickets.size %></td>
  <td><%= number_to_currency movie.revenue %></td>
  <td>
    <%= form_for [:admin, movie], html: {class: "form-check form-switch"} do |f| %>
      <label>
        <%= f.check_box :status_before_type_cast, { class: "form-check-input"} %>
        <span class="slider rounder"></span>
      </label>
    <% end %>
  </td>
  <td>
    <%= link_to edit_admin_movie_path(movie) do %>
      <span class="fa fa-pencil"></span>
    <% end %>
    <%= link_to admin_movie_path(movie), method: :delete,
          data: { confirm: t(".confirm")} do %>
      <span class="fa fa-trash"></span>
    <% end %>
  </td>
</tr>
