<% provide :title, t(".movie_management") %>
<%= render partial: "search"%>
<div class="sales-boxes">
  <div class="admin-manager box">
    <div class="title">
      <h1><%= t ".movie_management" %></h1>
    </div>
    <%= link_to new_admin_movie_path, class: "new-genre" do %>
      <span class="fa fa-plus-circle circle"></span>
      <%= t ".create" %>
    <% end %>
    <div class="admin-data">
      <table class="table table-categories table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col"><%= t ".id" %></th>
            <th scope="col"><%= t ".movie" %></th>
            <th scope="col"><%= t ".release_date" %></th>
            <th scope="col"><%= t ".categories" %></th>
            <th scope="col"><%= t ".duration" %></th>
            <th scope="col"><%= t ".language" %></th>
            <th scope="col"><%= t ".cast" %></th>
            <th scope="col"><%= t ".director" %></th>
            <th scope="col"><%= t ".age_range" %></th>
            <th scope="col"><%= t ".action" %></th>
          </tr>
        </thead>
        <tbody>
          <%= render partial: "movie", collection: @movies %>
        </tbody>
      </table>
      <div id="pagy">
        <%== render partial: "shared/pagy", locals: { pagy: @pagy } %>
      </div>
    </div>
  </div>
</div>
