  <%= form_for [:admin, @cinema], html: {class: "form-admin"} do |f| %>
  <div class="row justify-content-center">
    <div class="col-md-6 col-md-offset-3">
      <%= render "shared/error_messages", object: f.object %>
      <%= f.label :name, t(".name") %>
      <%= f.text_field :name, class: "form-control", id: "input-label", placeholder: t(".place_name") %>
      <%= f.label :location, t(".location") %>
      <%= f.text_field :location, class: "form-control", id: "input-label", placeholder: t(".place_location") %>
    </div>
</div>
    <div id="rooms">
      <%= f.fields_for :rooms do |room| %>
        <%= render 'room_fields', f: room %>
      <% end %>

      <div class="links">
        <%= link_to_add_association t(".add"), f, :rooms, class: "btn btn-success" %>
      </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-2 col-md-offset-3">
      <%= f.submit t(".submit"), class: "btn btn-primary" %>
    </div>
  </div>
  <% end %>
