<% provide :title, t(".cinema_management") %>
<div class="sales-boxes">
  <div class="admin-manager box">
    <div class="title">
      <h1><%= t ".cinema_management" %></h1>
    </div>
    <%= link_to new_admin_cinema_path, class: "new-genre" do %>
      <span class="fa fa-plus-circle circle"></span>
      <%= t ".create" %>
    <% end %>
    <div class="admin-data">
      <table class="table table-categories table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">STT</th>
            <th scope="col"><%= t ".name" %></th>
            <th scope="col"><%= t ".location" %></th>
            <th scope="col"><%= t ".action" %></th>
          </tr>
        </thead>
        <tbody>
          <%= render @cinemas %>
        </tbody>
      </table>
      <div id="pagy">
        <%== render partial: "shared/pagy", locals: { pagy: @pagy } %>
      </div>
    </div>
  </div>
</div>
