<div class="breadcrumb-option">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumb__links">
          <%= link_to root_path do %>
            <i class="fa fa-home"></i><%= t ".home" %>
          <% end %>
          <span><%= t ".seach" %></span>
        </div>
      </div>
    </div>
  </div>
</div>
<section class="product-page spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="product__page__content">
          <div class="product__page__title">
            <div class="row">
              <div class="col-lg-8 col-md-8 col-sm-6">
                <div class="section-title">
                  <h4>
                    <% unless @result_number == 0 %>
                      <%= t ".have_result", number: @result_number, key_word: params[:m]&.values&.first%>
                    <% else %>
                      <%= t ".none_result", key_word: params[:m]&.values&.first%>
                    <% end %>
                  </h4>
                </div>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-6">
              </div>
            </div>
          </div>
          <div class="row">
            <%= render partial: "movies/movie_index", collection: @movies, as: :movie %>
          </div>
        </div>
        <% if @movies.present? %>
          <%= render partial: 'shared/pagy', locals: {pagy: @pagy} %>
        <% end %>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-8">
        <div class="product__sidebar">
          <div class="product__sidebar__view">
            <div class="section-title">
              <h5><%= t ".hot_movie" %></h5>
            </div>
            <ul class="filter__controls">
            </ul>
            <div class="filter__gallery">
              <%= render partial: "movies/hot_movie", collection: @hot_movies, as: :movie %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
