<div class="overview-boxes">
  <div class="box-search">
    <div class="search-box">
      <%= search_form_for [:admin, @search], class: "input-group-form", method: "get" do |f| %>
        <div class="row justify-content-center width-100 padding-top-10">
          <div class="col-md-3 col-md-offset-3">
            <%= f.label :id_eq, t(".search_by_id") %>
            <%= f.text_field :id_eq, placeholder: t(".search_by_id_user"), class: "form-control title-input" %>
          </div>
          <div class="col-md-3 col-md-offset-3">
            <%= f.label :user_name_cont, t(".search_by_name") %>
            <%= f.text_field :user_name_cont, placeholder: t(".search_by_name_place"), class: "form-control title-input" %>
          </div>
        </div>
        <div class="row justify-content-center width-100 padding-top-10">
          <div class="col-md-1 col-md-offset-3">
            <%= f.submit t(".search"), class: "btn btn-primary" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
