<div id="list-show-time">
  <% cinemas.each do |cinema| %>
    <div class="cinema-block">
      <div class = "title-cinema">
        <h5><%= cinema.name %></h5>
      </div>
      <div class="item-cinema set-bg" data-setbg=<%= asset_url('bg.jpg') %>>
        <label class="display-date-shows"><%= l(date, format: :display)%></label>
        <div class="showtime-block">
          <% unless show_times.blank? %>
            <%= render partial: "shows/show_time_for_cinema", locals: {show_times: show_times, cinema: cinema} %>
          <% else %>
            <span class="display-date-shows"><%= t "text.not_have_show" %></span>
          <% end %>
        </div>
      </div>
    </div>
    <br>
  <% end %>
</div>
