<header class="header">
  <div class="container">
    <div class="row">
      <div class="col-lg-2">
        <div class="header__logo">
          <%= link_to image_tag("galaxy-logo.png", class: "lazy hidden-xs hidden-sm loaded"), root_path %>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="header__nav">
          <nav class="header__menu mobile-menu">
            <ul>
              <li class="active"><%= link_to t(".homepage"), root_path %></li>
              <li><%= link_to t(".showing_movie"), showing_movie_path %></li>
              <li><%= link_to t(".comming_movie"), comming_movie_path %></li>
              <% if logged_in? %>
                <li>
                  <a>Hi <%= current_user.user_name %> <i class="fa-solid fa-user fa-beat"></i></span></a>
              <ul class="dropdown">
                <% if current_user.admin? %>
                  <li><%= link_to "Admin", admin_root_path %></li>
                <% end %>
                <li><%= link_to t(".favorites"), favorites_path %></li>
                <li><%= link_to t(".orders_history"), order_historys_path %></li>
                <li><%= link_to t(".edit"), edit_user_path(current_user) %></li>
                <li><%= link_to t(".log_out"), logout_path, method: :delete %></li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to t(".log_in"), login_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
  <div class="col-lg-2">
    <div class="header__right">
      <a href="#" class="search-switch"><i class="fa-solid fa-magnifying-glass"></i></a>
      <% unless logged_in? %>
        <%= link_to login_path, data: {toggle: "tooltip", placement:"bottom"}, title: t(".log_in") do %>
          <i class="fa-solid fa-fingerprint fa-spin"></i>
        <% end %>
      <% else %>
        <% if have_payment? %>
          <%= link_to payment_path(current_payment) do %>
            <i class="fa-solid fa-cart-arrow-down"></i>
          <% end%>
        <% end %>
        <%= link_to logout_path, method: :delete, data: {toggle: "tooltip", placement:"bottom"}, title: t(".log_out") do %>
          <i class="fa-solid fa-right-from-bracket"></i>
        <% end %>
      <% end %>
      <%= link_to t(".english"), {locale: :en}, class: (I18n.locale == :en ? "current-i18n" : "") %>
      <%= link_to t(".vietnamese"), {locale: :vi}, class: (I18n.locale == :vi ? "current-i18n" : "") %>
    </div>
  </div>
</div>
<div id="mobile-menu-wrap"></div>
</div>
</header>
