<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= render "layouts/shim" %>
    <link rel="icon" href="<%= image_url "winter.png" %>">
  </head>
  <body>
    <div class = "wrapper">
      <%= render "layouts/header" %>
      <%= render "shared/errors_alert" %>
      <%= yield %>
    </div>
    <%= render "layouts/footer" %>
  </body>
</html>
